body {
    margin: 0;
    background-color: #1b244a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    margin-bottom: 0;
    color: #eeeeee;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: 80px;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080001;
    width: 250px;
    height: 190px;
    border-radius: 10px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.add-score-btn {
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 4px solid #9aabd8;
    background-color: #1b244a;
    color: #9aabd8;
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    padding-top: 5px;
}

#home-score,
#guest-score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 150px;
    color: #f94f6d;
    margin: 0;
}

#new-game-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px solid #9aabd8;
    background-color: #1b244a;
    color: #9aabd8;
    font-size: 40px;
    border-radius: 5px;
    padding: 5px 10px;
}
